<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="open_manipulator_p_gazebo_macro" params="name">
    
    <!-- Gazebo ros control for arm joints -->
    <gazebo>
      <plugin name="gazebo_ros_control_select_joints" filename="libgazebo_ros_control_select_joints.so">
        <robotNamespace>manipulator_arm_control</robotNamespace>
        <joints>${name}_joint1 ${name}_joint2 ${name}_joint3 ${name}_joint4 ${name}_joint5 ${name}_joint6 ${name}_gripper ${name}_gripper_sub</joints>
        <eStopTopic>/ui_emergency_stop</eStopTopic>
      </plugin>
    </gazebo>

    <!-- Link1 -->
    <gazebo reference="${name}_link1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- Link2 -->
    <gazebo reference="${name}_link2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- Link3 -->
    <gazebo reference="${name}_link3">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- Link4 -->
    <gazebo reference="${name}_link4">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- Link5 -->
    <gazebo reference="${name}_link5">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- Link6 -->
    <gazebo reference="${name}_link6">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- End Effector -->
    <gazebo reference="${name}_end_link">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/DarkGrey</material>
    </gazebo>

  </xacro:macro>

</robot>
