<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<robot name="open_manipulator_p" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find open_manipulator_p_description)/urdf/open_manipulator_p_with_gripper_macro.urdf.xacro"/>

  <!-- World -->
  <link name="world"></link>

  <xacro:open_manipulator_p_with_gripper_macro parent="world" name="arm">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </xacro:open_manipulator_p_with_gripper_macro>
</robot>
